.loading-container{
    margin:8rem auto 0 auto;
    background:url("https://images.unsplash.com/photo-1492446190781-58ac4285911d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=805&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width:400px;
    font-family: 'Readex Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: grayscale(55%);
    -webkit-filter: grayscale(55%);
    -moz-filter: grayscale(55%);
}
.loading-container-wrap{
    width: 85%; 
    margin: 0 auto;
}

.loading-title{
    font-size: clamp(1.5rem, 2.4vw, 2.5rem);
    font-weight:700 ;
}

.climacon_component-stroke_fogLine {
    fill-opacity: 0.5;
    
    -webkit-animation-name: translateFog, fillOpacityFog;
    -moz-animation-name: translateFog, fillOpacityFog;
    -o-animation-name: translateFog, fillOpacityFog;
    animation-name: translateFog, fillOpacityFog;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
    -o-animation-duration: 12s;
    animation-duration: 12s;
  }
  .climacon_component-stroke_fogLine:nth-child(even) {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
  }
  @-webkit-keyframes translateFog {
    0% {
      -webkit-transform: translateY(0);
    }
    25% {
      -webkit-transform: translateX(2.5px);
    }
    75% {
      -webkit-transform: translateX(-2.5px);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes translateFog {
    0% {
      -moz-transform: translateY(0);
    }
    25% {
      -moz-transform: translateX(2.5px);
    }
    75% {
      -moz-transform: translateX(-2.5px);
    }
    100% {
      -moz-transform: translateX(0);
    }
  }
  @-o-keyframes translateFog {
    0% {
      -o-transform: translateY(0);
    }
    25% {
      -o-transform: translateX(2.5px);
    }
    75% {
      -o-transform: translateX(-2.5px);
    }
    100% {
      -o-transform: translateX(0);
    }
  }
  @keyframes translateFog {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateX(2.5px);
    }
    75% {
      transform: translateX(-2.5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-webkit-keyframes fillOpacityFog {
    0% {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }
    50% {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
    100% {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }
  }
  @-moz-keyframes fillOpacityFog {
    0% {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }
    50% {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
    100% {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }
  }
  @-o-keyframes fillOpacityFog {
    0% {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }
    50% {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
    100% {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }
  }
  @keyframes fillOpacityFog {
    0% {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }
    50% {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
    100% {
      fill-opacity: 0.5;
      stroke-opacity: 0.5;
    }
  }
  @media screen and (min-width: 1100px) {
    .loading-container{
      
        height: 400px;
       
    }
}
  @media screen and (max-width: 450px) {
    .loading-container{
        margin:6rem auto 0 auto;
        max-width:318px;
        height: 380px;
       
    }
}