.climacon_component-stroke_lightning {
  fill-opacity: 0;
  -webkit-animation-name: fillOpacityLightning;
  -moz-animation-name: fillOpacityLightning;
  -o-animation-name: fillOpacityLightning;
  animation-name: fillOpacityLightning;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 12s;
  -moz-animation-duration: 12s;
  -o-animation-duration: 12s;
  animation-duration: 12s;
}
@-webkit-keyframes fillOpacityLightning {
0% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
1% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
7% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
50% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
51% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
53% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
54% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
60% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
100% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
}
@-moz-keyframes fillOpacityLightning {
0% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
1% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
7% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
50% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
51% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
53% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
54% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
60% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
100% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
}
@-o-keyframes fillOpacityLightning {
0% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
1% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
7% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
50% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
51% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
53% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
54% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
60% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
100% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
}
@keyframes fillOpacityLightning {
0% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
1% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
7% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
50% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
51% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
53% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
54% {
  fill-opacity: 1;
  stroke-opacity: 1;
}
60% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
100% {
  fill-opacity: 0;
  stroke-opacity: 0;
}
}